html {
    overflow-y: scroll;
    overflow-x: hidden;
}

.currentDay {
    color: white;
    border: 2px solid rgb(28, 104, 170);
    color: #1e293b;
    font-weight: 600;
    border-radius: 6px;
}

.sidebarCalendarCurrentDay {
    background-color:rgb(28, 104, 170);
    color: white;
    font-weight: 600;
}

.verticalLine {
    border-left: 1px solid #d1d5db;
    height: 27px;
}

.eventInfo {
    font-size: 14px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    padding: 4px;
    cursor: pointer;
    margin-top:3px;
}

.dailyEventInfo {
    font-size: 14px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    padding: 8px;
    cursor: pointer;
    margin-top:3px;
}
