html {
    overflow-y: scroll;
    overflow-x: hidden;
}

body {
    font-size: 14px !important;
}

body input::placeholder {
    font-size: 14px !important;
}

select {
    font-family: 'Lato' !important;
    font-size: 14px;
    cursor: pointer;
}

option {
    font-family: 'Lato' !important;
    font-size: 14px;
}

.currentDay {
    color: white;
    border: 2px solid rgb(28, 104, 170);
    color: #1e293b;
    /* font-weight: 600; */
    border-radius: 6px;
}

.sidebarCalendarCurrentDay {
    background-color:rgb(28, 104, 170);
    color: white;
    font-weight: 600;
}

.verticalLine {
    border-left: 1px solid #d1d5db;
    height: 27px;
}

.eventInfo {
    /* font-size: 14px; */
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    padding: 4px;
    cursor: pointer;
    margin-top:3px;
}

.dailyEventInfo {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    margin-top:5px;
    padding: 8px 6px;
    border-radius:6px;
    /* width: 645px; */
    /* height:38px; */
}

.dailyNoEventInfo {
    margin-top:5px;
    padding:10px;
    border-radius:6px;
    /* height:38px; */
}

.yearlyEventInfo, .weeklyEventInfo, .dailyEventInfo {
    font-size: 14px;
}

.selected-day {
    background-color: rgb(28, 104, 170);
    color: #fff;
}

.activeEventsCases {
    background-color: #14548d !important;
    color: #fff !important;
    border: 1px solid rgb(28, 104, 170) !important;
}

.lawyersCheckboxSection {
    background-color: #eaf1ff;
}

.lawyersCheckboxSection:hover {
    background-color: #dce9ff;
}

.selectArrowDown {
    background-image: url('data:image/svg+xml,%3csvg fill=\'gray\' viewBox=\'0 0 20 20\' xmlns=\'http://www.w3.org/2000/svg\'%3e%3cpath d=\'M5.22 8.22a.75.75 0 011.06 0L10 11.94l3.72-3.72a.75.75 0 111.06 1.06l-4.25 4.25a.75.75 0 01-1.06 0L5.22 9.28a.75.75 0 010-1.06z\'/%3e%3c/svg%3e');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 1.25em 1.25em;
}

.option-disabled {
    /* color: gray !important; */
    display: none;
}

/* .icon {
    width: 24px;
    height: 24px;
    transition: all 0.3s ease-in-out;
}

.icon:hover {
  transform: translate(2px);
} */
