html {
    overflow-y: scroll;
    overflow-x: hidden;
}

.currentDay {
    border: 2px solid rgb(28, 104, 170);
    color: #1e293b;
    font-weight: 600;
    border-radius: 6px;
}

.sidebarCalendarCurrentDay {
    background-color:rgb(28, 104, 170);
    color: white;
    font-weight: 600;
}

.verticalLine {
    border-left: 1px solid #d1d5db;
    height: 27px;
}

.eventInfo {
    font-size: 14px;
    border: 1px solid #d3d3d3;
    padding: 2px 0px 2px 4px;
    cursor: pointer;
    margin-top:3px;
}
