html {
    overflow-y: scroll;
    overflow-x: hidden;
}

body {
    font-family: 'Lato' !important;
    font-size: 14px;
}

select {
    font-family: 'Lato' !important;
    font-size: 15px;
}

option {
    font-family: 'Lato' !important;
    font-size: 16px;
}

.currentDay {
    color: white;
    border: 2px solid rgb(28, 104, 170);
    color: #1e293b;
    /* font-weight: 600; */
    border-radius: 6px;
}

.sidebarCalendarCurrentDay {
    background-color:rgb(28, 104, 170);
    color: white;
    font-weight: 600;
}

.verticalLine {
    border-left: 1px solid #d1d5db;
    height: 27px;
}

.eventInfo {
    /* font-size: 14px; */
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    padding: 4px;
    cursor: pointer;
    margin-top:3px;
}

.dailyEventInfo {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    margin-top:5px;
    padding: 8px;
    border-radius:6px;
    /* height:38px; */
}

.dailyNoEventInfo {
    margin-top:5px;
    padding:10px;
    border-radius:6px;
    /* height:38px; */
}

.yearlyEventInfo, .weeklyEventInfo, .dailyEventInfo {
    font-size: 14px;
}

.selected-day {
    background-color: rgb(28, 104, 170);
    color: #fff;
}

.activeEventsCases {
    background-color: #14548d !important;
    color: #fff !important;
    border: 1px solid rgb(28, 104, 170) !important;
}

.lawyersCheckboxSection {
    background-color: #eaf1ff;
}

.lawyersCheckboxSection:hover {
    background-color: #dce9ff;
}
