html {
    overflow-y: scroll;
    overflow-x: hidden;
}

body {
    font-family: lato !important;
    font-size: 14px !important;
}

select {
    font-family: lato !important;
    font-size: 14px !important;
}

.lawyer-sidebar-category > div {
    padding: 0px 20px;
}

.layout-grid {
    display: grid;
    height: 100vh;
    gap: 1rem;
    transition: grid-template-columns 0.5s ease;
}

.sidebar-open {
    grid-template-columns: 25rem 1fr;
}

.sidebar-closed {
    grid-template-columns: 5rem 1fr;
}

.panel {
    display: none;
}

.lawyersCheckboxSection {
    background-color: #e4e9ee42;
}

.lawyersCheckboxSection:hover {
    background-color: #e4e9eec7;
}
